.page-footer {
    // padding-bottom: 3px;
    background-color: $secondary-background-color;
}

.page-footer__container {
    padding-bottom: 40px;
}


.page-footer__label {

    margin-bottom: 40px;

    font-family: 'Titan One', cursive;
    font-weight: 400;
    text-transform: uppercase;

}

.page-footer__title-begin {
    display: block;
    width: 230px;
    margin-left: 2px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.167;
    color: $secondary-title-color;
}

.page-footer__title-end {
    display: block;
    width: 200px;

    font-size: 34px;
    line-height: 1, 147;
    letter-spacing: 0.04em;
    color: $accent-color;
}


.page-footer__icon {
    fill: $primary-background-color;
}

.sub-footer {
    padding-top: 16px;
    padding-bottom: 3px;
    border-top: 1px solid #E1E1E1;
}

.page-footer__copyright {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    line-height: 1.52;

    color: $secondary-text-color;
}