.page-footer {
    // padding-bottom: 3px;
    background-color: $secondary-background-color;
}

.page-footer__container {
    padding-bottom: 40px;


    @media screen and (min-width:$tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 60px;
    }

}


.page-footer__label {


    font-family: 'Titan One', cursive;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-max) {
        margin-bottom: 40px;
    }

}

.page-footer__title-begin {
    display: block;


    margin-bottom: 16px;

    font-size: 18px;
    line-height: 1.167;
    color: $secondary-title-color;

    @media screen and (max-width: $mobile-max) {
        width: 230px;
    }

    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
        width: 340px;
        margin-bottom: 12px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 26px;
        line-height: 1.154;
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: $desktop) {
        font-size: 30px;
        line-height: 1.133;
    }
}

.page-footer__title-end {
    display: block;


    font-size: 34px;
    line-height: 1, 147;
    letter-spacing: 0.04em;
    color: $accent-color;

    @media screen and (max-width: $mobile-max) {
        width: 200px;
    }

    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
        width: 340px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 48px;
        line-height: 1.146;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width: $desktop) {
        font-size: 58px;
        line-height: 1.138;
    }
}


.page-footer__icon {
    fill: $primary-background-color;
}

.sub-footer {
    padding-top: 16px;
    padding-bottom: 3px;
    border-top: 1px solid #E1E1E1;


}

.page-footer__copyright {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 700;
    line-height: 1.52;

    color: $secondary-text-color;

    @media screen and (min-width: $tablet) {
        line-height: 1.86;
        letter-spacing: 0.02em;
    }

}