// Colors
$primary-background-color: #ffffff;
$secondary-background-color: #FFB8CA; //About , Contacts, Footer sections
$tetriary-background-color: #FFF5F6;
$accent-color: #D41443; //nav hover, logo, button text, titles, etc..
$primary-text-color: #000000;
$primary-inverse-text-color: #ffffff;
$secondary-text-color: #907E82;
$secondary-title-color: #FFA5BA; // Section labels (100% natural, tradition and love, homemade ice cream made etc..) 

//Break points
$mobile: 320px;
$mobile-max: 767px;
$tablet: 768px;
$tablet-max: 1199px;
$desktop: 1200px;

// Transition
$default-transition-time: 250ms;
$default-transition-function: cubic-bezier(0.4, 0, 0.2, 1);

//Common elements
$default-button-hover-bg-color: #ECEBEB;