// Font Mixin
// 222

@mixin modal-font-set($font-family: 'DM Sans', $font-weight: 500, $font-size: 14px, $line-height: 18px, $text-align: center, $letter-spacing: 0.03em, $color: $secondary-text-color) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-align: $text-align;
  letter-spacing: $letter-spacing;
  color: $color;
}

// General Rules

.modal-default-container {
  display: block;
  width: 90vw;
  max-width: 450px;
  border-radius: 15px;
  border: $secondary-background-color solid 3px;
  background-color: $primary-inverse-text-color;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  & h2,
  & h3 {
    text-align: center;
  }
}

.modal-default-close-button {
  border: none;
  display: block;
  margin-left: auto;
  padding-right: 8px;
  padding-top: 8px;
  outline: none;
  background-color: transparent;
}

.modal-default-close-icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: $secondary-title-color;
}

.modal-default-backdrop {
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 450ms $default-transition-function;
  overflow-y: scroll;
  &.mob-menu-modal__is-hidden,
  &.about-modal__is-hidden,
  &.locations-modal__is-hidden,
  &.franchise-modal__is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-default-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $accent-color;
  border: none;
  border-radius: 22px;
  color: $primary-inverse-text-color;
  height: 44px;
  width: 125px;
  @include modal-font-set($font-weight: 700, $font-size: 16px, $line-height: 21px, $text-align: center, $letter-spacing: 0.03em, $color: $primary-inverse-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  transition: background-color $default-transition-time
    $default-transition-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  & svg {
    fill: $primary-background-color;
    margin-left: 10px;
  }
}

// Header / Buy Now Modal

.mob-menu-modal__heading {
  color: $secondary-title-color;
  margin-top: 5px;
  text-align: center;
}

.mob-menu-modal__products-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-basis: 85%;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 20px;
}

.mob-menu-modal__product-card {
  display: inline-block;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.1);
  border: dotted 1px $secondary-title-color;
  padding: 5px;
  & > img {
    width: 100%;
    display: inline-block;
  }
  & > h3 {
    text-align: center;
    color: $secondary-text-color;
  }
}

// Stepper Styles

.stepper {
  border: 1px solid $secondary-title-color;
  display: inline-block;
  overflow: visible;
  height: 2.1em;
  background: $primary-background-color;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.stepper input {
  width: 1.5em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: $primary-text-color;
}

.stepper button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: $secondary-background-color;
  color: $secondary-title-color;
  border: none;
}

.mob-menu__modal--stepper {
  display: flex;
  flex-direction: row;
}

// About / Read More Modal

.about-modal {
  height: 85vh;
  overflow: hidden;
}

.about-modal__readmore-text {
  overflow-y: scroll;
  height: 95%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  margin-top: 20px;
  & > h3 {
    @include modal-font-set($font-size: 18px, $line-height: 34px, $text-align: left, $letter-spacing: 0.04em, $color: $accent-color);
  }
  & > p {
    @include modal-font-set($text-align: left, $letter-spacing: 0.03em);
    padding-bottom: 20px;
  }
}

.about-modal__readmore-heading {
  font-style: italic;
  color: $primary-background-color;
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px dashed $secondary-title-color;
}

// Contacts / Locations Modal

.locations-modal__heading {
  margin-top: 10px;
  @include modal-font-set($font-weight: 700, $font-size: 18px, $line-height: 32px, $letter-spacing: 0.03em);
}

.locations-modal__sub-heading {
  @include modal-font-set($font-size: 16px, $letter-spacing: 0.03em, $color: $primary-text-color);
  margin-left: 10px;
  margin-right: 10px;
}

.locations-modal__sale-place {
  display: block;
  margin-right: auto;
  margin-left: auto;
  @include modal-font-set($font-weight: 900);
}

.locations-modal__sale-address-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  @include modal-font-set($font-size: 12px, $color: $secondary-title-color);
}

.locations-modal__sale-address {
  display: block;
  margin-right: auto;
  margin-left: auto;
  @include modal-font-set($font-size: 12px, $letter-spacing: 0.03em);
}

.locations-modal__address-list {
  margin-bottom: 25px;
}

.locations-modal__address-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 15px;
  &:not(:last-child) {
    border-bottom: 1px dotted #e1e1e1;
  }
}

// Contacts / Franchise Modal

.franchise-modal__heading {
  color: $primary-text-color;
}

.franchise-modal__sub-heading {
  color: $secondary-title-color;
}

.franchise-modal__form-heading {
  color: $primary-text-color;
  text-align: center;
}

.franchise-modal__form {
  margin-top: 5px;
  display: block;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.franchise-modal__form-field-list {
  @include modal-font-set($line-height: 22px);
  margin-bottom: 20px;
  & li:nth-last-child(1) {
    margin-bottom: 10px;
  }
  & input {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.franchise-modal__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  & label {
    margin-bottom: 1px;
  }
}

.franchise-modal__field-container {
  position: relative;
  display: flex;
  align-items: center;
}

.franchise-modal__field-icon {
  position: absolute;
  fill: $secondary-text-color;
  width: 16px;
  height: 16px;
  left: 8px;
  transition: fill $default-transition-function $default-transition-time;
  .franchise-modal__field-container:hover & {
    fill: $secondary-title-color;
  }
  .franchise-modal__field-container:focus-within & {
    fill: $secondary-title-color;
  }
}

.franchise-modal__textarea {
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid $secondary-title-color;
  border-radius: 4px;
  transition: border-color $default-transition-function $default-transition-time;
  padding: 9px 10px;
  &:hover,
  &:focus {
    border-color: $secondary-title-color;
  }
}

#franchise-modal__form-name,
#franchise-modal__form-tel,
#franchise-modal__form-mail {
  width: 100%;
  padding-left: 25px;
  border: 1px solid $secondary-title-color;
  border-radius: 4px;
}

.franchise-modal__fee-list {
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  @include modal-font-set($line-height: 24px, $text-align: center, $letter-spacing: 0.03em, $color: $secondary-text-color);
}