<section class="section about">
  <div class="container">
    <div class="about__label">
      <p class="about__title">tradition and love</p>
      <h2 class="about__subtitle">how it’s made?</h2>
    </div>
    <div>
      <img 
      src="./src/images/About/Mobile/about-cow-mob-x1.png" alt="" width="280px" height="280px"> 
    </div>
    <div class="about__description">
      <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
      <p class="about__text about__text--light">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.</p>
    </div>
  </div>
    
      
  
    </section>
