<section class="section features">
  <h2 class="visually-hidden">Our features</h2>
  <div class="container">
    <ul class="features__list">
      <li class="features__item features__item--cup">
        <p class="features__title">721</p>
        <p class="features__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="features__item features__item--apple">
        <p class="features__title">16kg</p>
        <p class="features__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="features__item features__item--heart">
        <p class="features__title">84</p>
        <p class="features__descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
