<footer class="page-footer">
  <div class="container page-footer__container">
    <p class="page-footer__label">
      <span class="page-footer__title-begin">homemade ice cream made</span>
      <span class="page-footer__title-end">with passion</span>
    </p>

    <div class="page-footer__contacts">
      <ul class="socials">
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://github.com/chertoha/ice-cream-project-group-28"
            target="_blank"
            aria-label="github"
          >
            <svg class="icon page-footer__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-footer-github"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://t.me/junior_developer_ua"
            target="_blank"
            aria-label="telegram"
          >
            <svg class="icon page-footer__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-footer-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="facebook"
          >
            <svg class="icon page-footer__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <address class="address">
        <p class="address__appeal">Feel free to contact</p>
        <a class="address__tel link" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </address>
    </div>
  </div>

  <div class="container sub-footer">
    <p class="page-footer__copyright">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>

<!-- <section class="section">
  <div class="container test__container"></div>
</section> -->
