<footer class="page-footer">
  <div class="container">
    <p class="page-footer__label">
      <span class="page-footer__title-begin">homemade ice cream made</span>
      <span class="page-footer__title-end">with passion</span>
    </p>
    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link link" href="" aria-label="github"></a>
      </li>

      <li class="socials__item">
        <a class="socials__link link" href="" aria-label="telegram"></a>
      </li>

      <li class="socials__item">
        <a class="socials__link link" href="" aria-label="facebook"></a>
      </li>
    </ul>

    <address class="address">
      <p class="address__appeal">Feel free to contact </p>
      <a class="address__tel link" href="tel:+610383766284" >+61 (0) 383 766 284</a>
    </address>
  <div class="container"></div>
</footer>
