<section class="section gallery">
  <h2 hidden>Gallery</h2>
  <div class="gallery__container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-1.webp      44w,
              ./images/gallery/mobile/WpcMb2x-1.webp    88w,
              ./images/gallery/tablet/WpcTb-1.webp     105w,
              ./images/gallery/desktop/WpcDsk-1.webp   138w,
              ./images/gallery/tablet/WpcTb2x-1.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-1.webp 276w,
              ./images/gallery/tablet/WpcTb3x-1.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-1.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
          <img
            srcset="
              ./images/gallery/mobile/gall-one-cup-mob-x1.png   44w,
              ./images/gallery/mobile/gall-one-cup-mob-x2.png   88w,
              ./images/gallery/tablet/gall-one-cup-tab-x1.png  105w,
              ./images/gallery/desktop/gall-one-cup-des-x1.png 138w,
              ./images/gallery/tablet/gall-one-cup-tab-x2.png  210w,
              ./images/gallery/desktop/gall-one-cup-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-1.png             314w,
              ./images/gallery/desktop/pcDsk3x-1.png           414w
            "
            src="./images/gallery/desktop/pcDsk3x-1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-2.webp      44w,
              ./images/gallery/mobile/WpcMb2x-2.webp    88w,
              ./images/gallery/tablet/WpcTb-2.webp     105w,
              ./images/gallery/desktop/WpcDsk-2.webp   138w,
              ./images/gallery/tablet/WpcTb2x-2.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-2.webp 276w,
              ./images/gallery/tablet/WpcTb3x-2.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-2.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-three-icelolly-mob-x1.png   44w,
              ./images/gallery/mobile/gall-three-icelolly-mob-x2.png   88w,
              ./images/gallery/tablet/gall-three-icelolly-tab-x1.png  105w,
              ./images/gallery/desktop/gall-three-icelolly-des-x1.png 138w,
              ./images/gallery/tablet/gall-three-icelolly-tab-x2.png  210w,
              ./images/gallery/desktop/gall-three-icelolly-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-2.png                    314w,
              ./images/gallery/desktop/pcDsk3x-2.png                  414w
            "
            src="./images/gallery/desktop/gall-three-icelolly-des-x1.png"
            alt="three-icelolly"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-3.webp      44w,
              ./images/gallery/mobile/WpcMb2x-3.webp    88w,
              ./images/gallery/tablet/WpcTb-3.webp     105w,
              ./images/gallery/desktop/WpcDsk-3.webp   138w,
              ./images/gallery/tablet/WpcTb2x-3.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-3.webp 276w,
              ./images/gallery/tablet/WpcTb3x-3.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-3.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-two-ice-mob-x1.png   44w,
              ./images/gallery/mobile/gall-two-ice-mob-x2.png   88w,
              ./images/gallery/tablet/gall-two-ice-tab-x1.png  105w,
              ./images/gallery/desktop/gall-two-ice-des-x1.png 138w,
              ./images/gallery/tablet/gall-two-ice-tab-x2.png  210w,
              ./images/gallery/desktop/gall-two-ice-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-3.png             314w,
              ./images/gallery/desktop/pcDsk3x-3.png           414w
            "
            src="./images/gallery/desktop/gall-two-ice-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-4.webp      90w,
              ./images/gallery/mobile/WpcMb2x-4.webp   180w,
              ./images/gallery/tablet/WpcTb-4.webp     215w,
              ./images/gallery/desktop/WpcDsk-4.webp   283w,
              ./images/gallery/tablet/WpcTb2x-4.webp   430w,
              ./images/gallery/desktop/WpcDsk2x-4.webp 566w,
              ./images/gallery/tablet/WpcTb3x-4.webp   644w,
              ./images/gallery/desktop/WpcDsk3x-4.webp 849w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-four-manyice-mob-x1.png   90w,
              ./images/gallery/mobile/gall-four-manyice-mob-x2.png  180w,
              ./images/gallery/tablet/gall-four-manyice-tab-x1.png  215w,
              ./images/gallery/desktop/gall-four-manyice-des-x1.png 283w,
              ./images/gallery/tablet/gall-four-manyice-tab-x2.png  430w,
              ./images/gallery/desktop/gall-four-manyice-des-x2.png 566w,
              ./images/gallery/tablet/pcTb3x-4.png                  644w,
              ./images/gallery/desktop/pcDsk3x-4.png                849w
            "
            src="./images/gallery/desktop/gall-four-manyice-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-5.webp      44w,
              ./images/gallery/mobile/WpcMb2x-5.webp    88w,
              ./images/gallery/tablet/WpcTb-5.webp     105w,
              ./images/gallery/desktop/WpcDsk-5.webp   138w,
              ./images/gallery/tablet/WpcTb2x-5.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-5.webp 276w,
              ./images/gallery/tablet/WpcTb3x-5.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-5.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-five-face-mob-x1.png   44w,
              ./images/gallery/mobile/gall-five-face-mob-x2.png   88w,
              ./images/gallery/tablet/gall-five-face-tab-x1.png  105w,
              ./images/gallery/desktop/gall-five-face-des-x1.png 138w,
              ./images/gallery/tablet/gall-five-face-tab-x2.png  210w,
              ./images/gallery/desktop/gall-five-face-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-5.png               314w,
              ./images/gallery/desktop/pcDsk3x-5.png             414w
            "
            src="./images/gallery/desktop/gall-five-face-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-6.webp      44w,
              ./images/gallery/mobile/WpcMb2x-6.webp    88w,
              ./images/gallery/tablet/WpcTb-6.webp     105w,
              ./images/gallery/desktop/WpcDsk-6.webp   138w,
              ./images/gallery/tablet/WpcTb2x-6.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-6.webp 276w,
              ./images/gallery/tablet/WpcTb3x-6.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-6.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-six-icebowl-mob-x1.png   44w,
              ./images/gallery/mobile/gall-six-icebowl-mob-x2.png   88w,
              ./images/gallery/tablet/gall-six-icebowl-tab-x1.png  105w,
              ./images/gallery/desktop/gall-six-icebowl-des-x1.png 138w,
              ./images/gallery/tablet/gall-six-icebowl-tab-x2.png  210w,
              ./images/gallery/desktop/gall-six-icebowl-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-6.png                 314w,
              ./images/gallery/desktop/pcDsk3x-6.png               414w
            "
            src="./images/gallery/desktop/gall-six-icebowl-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-7.webp      44w,
              ./images/gallery/mobile/WpcMb2x-7.webp    88w,
              ./images/gallery/tablet/WpcTb-7.webp     105w,
              ./images/gallery/desktop/WpcDsk-7.webp   138w,
              ./images/gallery/tablet/WpcTb2x-7.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-7.webp 276w,
              ./images/gallery/tablet/WpcTb3x-7.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-7.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-seven-icehand-mob-x1.png   44w,
              ./images/gallery/mobile/gall-seven-icehand-mob-x2.png   88w,
              ./images/gallery/tablet/gall-seven-icehand-tab-x1.png  105w,
              ./images/gallery/tablet/gall-seven-icehand-tab-x2.png  210w,
              ./images/gallery/desktop/gall-seven-icehand-des-x1.png 138w,
              ./images/gallery/desktop/gall-seven-icehand-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-7.png                   314w,
              ./images/gallery/desktop/pcDsk3x-7.png                 414w
            "
            src="./images/gallery/desktop/gall-seven-icehand-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-8.webp      44w,
              ./images/gallery/mobile/WpcMb2x-8.webp    88w,
              ./images/gallery/tablet/WpcTb-8.webp     105w,
              ./images/gallery/desktop/WpcDsk-8.webp   138w,
              ./images/gallery/tablet/WpcTb2x-8.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-8.webp 276w,
              ./images/gallery/tablet/WpcTb3x-8.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-8.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-eight-icedog-mob-x1.png   44w,
              ./images/gallery/mobile/gall-eight-icedog-mob-x2.png   88w,
              ./images/gallery/tablet/gall-eight-icedog-tab-x1.png  105w,
              ./images/gallery/tablet/gall-eight-icedog-tab-x2.png  210w,
              ./images/gallery/desktop/gall-eight-icedog-des-x1.png 138w,
              ./images/gallery/desktop/gall-eight-icedog-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-8.png                  314w,
              ./images/gallery/desktop/pcDsk3x-8.png                414w
            "
            src="./images/gallery/desktop/gall-eight-icedog-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-9.webp      44w,
              ./images/gallery/mobile/WpcMb2x-9.webp    88w,
              ./images/gallery/tablet/WpcTb-9.webp     105w,
              ./images/gallery/desktop/WpcDsk-9.webp   138w,
              ./images/gallery/tablet/WpcTb2x-9.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-9.webp 276w,
              ./images/gallery/tablet/WpcTb3x-9.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-9.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <img
            srcset="
              ./images/gallery/mobile/gall-nine-koffee-mob-x1.png   44w,
              ./images/gallery/mobile/gall-nine-koffee-mob-x2.png   88w,
              ./images/gallery/tablet/gall-nine-koffee-tab-x1.png  105w,
              ./images/gallery/tablet/gall-nine-koffee-tab-x2.png  210w,
              ./images/gallery/desktop/gall-nine-koffee-des-x1.png 138w,
              ./images/gallery/desktop/gall-nine-koffee-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-9.png                 314w,
              ./images/gallery/desktop/pcDsk3x-9.png               414w
            "
            src="./images/gallery/desktop/gall-nine-koffee-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/WpcMb-10.webp      44w,
              ./images/gallery/mobile/WpcMb2x-10.webp    88w,
              ./images/gallery/tablet/WpcTb-10.webp     105w,
              ./images/gallery/desktop/WpcDsk-10.webp   138w,
              ./images/gallery/tablet/WpcTb2x-10.webp   210w,
              ./images/gallery/desktop/WpcDsk2x-10.webp 276w,
              ./images/gallery/tablet/WpcTb3x-10.webp   314w,
              ./images/gallery/desktop/WpcDsk3x-10.webp 414w
            "
            type="image/webp"
            sizes="(min-width: 1200px) 25vw, (min-width: 320px) 28vw, (max-width: 319px) 90vw"
          />

          <!-- <img src="./images/gallery/desktop/home-pic5 1Dsk@2x.webp" alt=""> -->
          <img
            srcset="
              ./images/gallery/mobile/gall-ten-cake-mob-x1.png   44w,
              ./images/gallery/mobile/gall-ten-cake-mob-x2.png   88w,
              ./images/gallery/tablet/gall-ten-cake-tab-x1.png  105w,
              ./images/gallery/tablet/gall-ten-cake-tab-x2.png  210w,
              ./images/gallery/desktop/gall-ten-cake-des-x1.png 138w,
              ./images/gallery/desktop/gall-ten-cake-des-x2.png 276w,
              ./images/gallery/tablet/pcTb3x-10.png             314w,
              ./images/gallery/desktop/pcDsk3x-10.png           414w
            "
            src="./images/gallery/desktop/gall-ten-cake-des-x1.png"
            alt="ice cream"
            width="138"
            sizes="(min-width: 1200px) 12vw, (min-width: 320px) 14vw, (max-width: 319px) 90vw"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
