<section class="section gallery">
  <h2 hidden>gallery</h2>
  <div class="gallery__container">
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--first">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-one-cup-mob-x1.png,
              ./images/gallery/mobile/gall-one-cup-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-one-cup-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--second">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-three-icelolly-mob-x1.png,
              ./images/gallery/mobile/gall-three-icelolly-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-three-icelolly-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--third">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-two-ice-mob-x1.png,
              ./images/gallery/mobile/gall-two-ice-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-two-ice-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--fourth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-four-manyice-mob-x1.png,
              ./images/gallery/mobile/gall-four-manyice-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-four-manyice-des-x1.png"
            alt="ice cream"
            width="283"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--fifth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-six-icebowl-mob-x1.png,
              ./images/gallery/mobile/gall-six-icebowl-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-six-icebowl-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--sixth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-eight-icedog-mob-x1.png,
              ./images/gallery/mobile/gall-eight-icedog-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-eight-icedog-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--seventh">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-nine-koffee-mob-x1.png,
              ./images/gallery/mobile/gall-nine-koffee-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-nine-koffee-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--eighth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-five-face-mob-x1.png,
              ./images/gallery/mobile/gall-five-face-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-five-face-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--ninth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-ten-cake-mob-x1.png,
              ./images/gallery/mobile/gall-ten-cake-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-ten-cake-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--tenth">
        <picture>
          <source
            srcset="
              ./images/gallery/mobile/gall-seven-icehand-mob-x1.png,
              ./images/gallery/mobile/gall-seven-icehand-mob-x2.png
            "
            media="(max-width: 767.98px)"
          />
          <img
            src="./images/gallery/desktop/gall-seven-icehand-des-x1.png"
            alt="ice cream"
            width="138"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
