<section class="section hero" id="hero">
  <div class="container hero__container">
    <div>
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__subtitle">passion</span>
      </h1>
      <ul class="hero__ul">
        <li class="hero__list">
          <a
            href="#products"
            class="button link hero__button hero__button--color-cherry button--with-accent-hover"
          >
            <span class="hero__button-text">Products</span>
          </a>
        </li>
        <li class="hero__list">
          <a
            href="#about"
            class="button link hero__button hero__button--color-white button--with-hover"
          >
            <span class="hero__button-text">How it’s made?</span>
          </a>
        </li>
      </ul>
      <div class="hero__text-wrap">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=q27ltn0jtxQ"
          class="button hero__text-button button--with-hover"
          data-modal-milkvideo
        >
          <svg class="icon hero__icon">
            <use href="./images/icons.svg#icon-arrow-products"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__count-wrap">
      <ul class="hero__count-ul">
        <li class="hero__count-list">
          <p class="hero__count-number" id="cafes-count" data-cafes-count="16">
            0
          </p>
          <p class="hero__count-text">cafes</p>
        </li>
        <li class="hero__count-list">
          <p class="hero__count-number" id="trucks-count" data-truck-count="23">
            0
          </p>
          <p class="hero__count-text">food trucks</p>
        </li>
      </ul>
      <div class="hero__hover-wrap">
        <p class="hero__hover-text">
          glory to <span class="hero__hover-yellow">ukraine!</span>
        </p>
      </div>
    </div>
  </div>
</section>
