<section class="section hero">
  <div class="container hero__container">
    <div>
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__subtitle">passion</span>
      </h1>
      <ul class="hero__ul">
        <li class="hero__list">
          <a
            href="#products"
            class="button link hero__button button--color__cherry button--with-accent-hover"
          >
            <span class="hero__button-text">Products</span>
          </a>
        </li>
        <li class="hero__list">
          <a
            href="#about"
            class="button link hero__button button--color__white button--with-hover"
          >
            <span class="hero__button-text">How it’s made?</span>
          </a>
        </li>
      </ul>
      <div class="hero__text--wrap">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=q27ltn0jtxQ"
          class="button hero__text-button button--with-hover"
          data-modal-milkvideo
        >
          <svg class="icon hero__icon hero__text-button--color__cherry">
            <use href="./images/icons.svg#icon-arrow-products"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="count__wrap">
      <ul class="count__ul">
        <li class="count__list">
          <p class="count__number" id="cafes-count" data-cafes-count="16">0</p>
          <p class="count__text">cafes</p>
        </li>
        <li class="count__list">
          <p class="count__number" id="trucks-count" data-truck-count="23">0</p>
          <p class="count__text">food trucks</p>
        </li>
        <div class="hover__text--wrap">
          <p class="hover__text">
            glory to <span class="hover__text--blue">ukraine!</span>
          </p>
        </div>
      </ul>
    </div>
  </div>
</section>
