<!-- Header / Buy Now Modal -->

<!-- data-modal -->

<div class="mob-menu__modal--backdrop mob-menu__modal--is-hidden" data-modal>
    <div class="modal-default-container">
        <button data-modal-close class="mob-menu__modal--close-btn">
            <svg class="contact__locations-modal--close-icon">
                <use href="./images/modal-icons.svg#products-close-button"></use>
            </svg>
        </button>
        <h2 class="mob-menu__modal--heading">Choose what you like</h2>
        <ul class="mob-menu__modal--listing-products">
            <li class="mob-menu__modal-card">
                <h3>Ice Coffee</h3>
                <img src="./images/gallery/tablet/gall-nine-koffee-tab-x1.png" alt="">
                <svg class="mob-menu__modal-card-icon">
                    <use href="./images/modal-icons.svg#modal-like"></use>
                </svg>
                <div class="mob-menu__modal--stepper">
                    <span class="stepper">
                        <button class="minus-button">–</button>
                        <input class="products-counter" type="number" value="0" min="0" max="100" step="1" readonly>
                        <button class="plus-button">+</button>
                    </span>
                </div>
            </li>
            <li class="mob-menu__modal-card">
                <h3>Icecream1</h3>
                <img src="./images/gallery/tablet/gall-seven-icehand-tab-x1.png" alt="">
                <svg class="mob-menu__modal-card-icon">
                    <use href="./images/modal-icons.svg#modal-like"></use>
                </svg>
                <div class="mob-menu__modal--stepper">
                    <span class="stepper">
                        <button class="minus-button">–</button>
                        <input class="products-counter" type="number" value="0" min="0" max="100" step="1" readonly>
                        <button class="plus-button">+</button>
                    </span>
                </div>
            </li>
            <li class="mob-menu__modal-card">
                <h3>Icecream2</h3>
                <img src="./images/gallery/tablet/gall-three-icelolly-tab-x1.png" alt="">
                <svg class="mob-menu__modal-card-icon">
                    <use href="./images/modal-icons.svg#modal-like"></use>
                </svg>
                <div class="mob-menu__modal--stepper">
                    <span class="stepper">
                        <button class="minus-button">–</button>
                        <input type="number" class="products-counter" value="0" min="0" max="100" step="1" readonly>
                        <button class="plus-button">+</button>
                    </span>
                </div>
            </li>
            <li class="mob-menu__modal-card">
                <h3>Icecream3</h3>
                <img src="./images/gallery/tablet/gall-two-ice-tab-x1.png" alt="">
                <svg class="mob-menu__modal-card-icon">
                    <use href="./images/modal-icons.svg#modal-like"></use>
                </svg>
                <div class="mob-menu__modal--stepper">
                    <span class="stepper">
                        <button class="minus-button">–</button>
                        <input type="number" class="products-counter" value="0" min="0" max="100" step="1" readonly>
                        <button class="plus-button">+</button>
                    </span>
                </div>
            </li>
        </ul>
        <button type="submit" class="contact__franchise-submit-button">
            Proceed
            <svg class="contacts__icon" width="8" height="10">
                <use href="./images/icons.svg#icon-header-arrow-btn"></use>
            </svg>
        </button>
    </div>
</div>

<!-- About / Read More Modal  -->

<!-- about-modal-open  -->

<div class="about__readmore-modal--backdrop about__readmore-modal--is-hidden" about-modal>
    <div class="modal-default-container about__readmore-modal">
        <button about-modal-close class="about__readmore-modal--close-btn">
            <svg class="contact__locations-modal--close-icon">
                <use href="./images/modal-icons.svg#products-close-button"></use>
            </svg>
        </button>
        <h2 class="about__readmore-modal--heading"></h2>
        <div class="about__readmore-text">
            <h3>Pasteurisation</h3>
            <p>This technique heats milk to 72°C for no less than 15 seconds, then cooled immediately to destroy any
                harmful bacteria
                and micro-organisms. This also extends the shelf life.</p>
            <h3>Homogenisation</h3>
            <p>
                Milk is put under pressure through fine nozzles, which evenly disperses fat globules. This stops the
                cream
                separating and rising to the top, allowing a more consistent texture and taste. Some manufacturers
                produce
                unhomogenised milk for people who prefer the cream to separate and rise to the top of the bottle.

                Today's farm technology, cattle management and factory methods allow for greater consistency of milk,
                and
                milk composition can be adjusted for year-round consistency. Milk composition is standardised so
                elements
                like fat content are made consistent no matter the season or breed of cow the milk comes from.

                The composition of milk is governed by the Food Standards Australia New Zealand Food Standards Code.
                These
                standards are consistent with international standards – milk consumed in nearly all developed countries
                will
                have very similar standards. The Code allows manufacturers to add or withdraw milk components to
                standardise
                the composition of milk sourced from dairy farms, as required, to produce nutritionally consistent and
                safe
                products. Under the Code, the standard for packaged full-fat milk requires that it contain at least 3.2%
                of
                fat and 3.0% of protein.
            </p>
            <h3>Ultrafiltration</h3>
            <p>
                This moves milk across a membrane under moderate pressure, which holds back protein, fat globules, and a
                large amount of
                calcium complexes.

                Water and lactose (the sugar in milk) pass through, leaving behind a very protein and calcium-rich
                product.
                The fat
                content can be adjusted to suit consumer preference.
            </p>
            <h3>Permeate</h3>
            <p>
                In order to standardise milk year-round, some manufacturers use a process called ultrafiltration where a
                membrane filter
                separates certain elements from milk (just like in the descriptions above). Milk is passed through a
                very
                fine filter,
                and the lactose (milk sugar), vitamins and minerals that filter through are referred to as "permeate".

                Permeate is a technical term which applies to all membrane filtration processes used across food
                production
                and other
                industries. For example, when producing apple juice the fruit is put through a similar filtration
                process
                where permeate
                is the clear juice we end up buying and consuming.

                In milk processing, the word "permeate" does not refer to anything added which was not already part of
                milk.

                That filter helps milk producers make milk with consistent properties, which helps it conform to the
                Food
                Standards
                Australia New Zealand Food Standards Code.
            </p>
        </div>

    </div>
</div>

<!-- Contacts / Locations Modal  -->

<!-- locations-modal-open  -->


<div class="contact__locations-modal--backdrop contact__locations-modal--is-hidden" locations-modal>
    <div class="modal-default-container">
        <button locations-modal-close class="contact__locations-modal--close-btn">
            <svg class="contact__locations-modal--close-icon">
                <use href="./images/modal-icons.svg#products-close-button"></use>
            </svg>
        </button>
        <h2 class="contact__locations-modal--heading">Our locations</h2>
        <ul class="contact_locations__card-list">
            <li class="contact_locations-card">
                <h3 class="contact__locations-modal--sub-heading">New York</h3>
                <h4 class="contact__locations-modal--sub-heading2">Manhattan Mall</h4>
                <span class="contact__locations-modal--address">100 W 33rd St, New York, NY 10001, US</span>
                <a class="contact__locations-modal--text" href="https://goo.gl/maps/FP3681EWaUSJPdXm6">how to find</a>
            </li class="contact_locations-card">
            <li class="contact_locations-card">
                <h3 class="contact__locations-modal--sub-heading">London</h3>
                <h4 class="contact__locations-modal--sub-heading2">Covent Garden</h4>
                <span class="contact__locations-modal--address">14 James St, London WC2E 8BU, UK</span>
                <a class="contact__locations-modal--text" href="https://g.page/covent-garden-london?share">how to
                    find</a>
            </li>
            <li class="contact_locations-card">
                <h3 class="contact__locations-modal--sub-heading">Berlin</h3>
                <h4 class="contact__locations-modal--sub-heading2">Mercedes Platz</h4>
                <span class="contact__locations-modal--address">Mühlenstraße 5, 10243 Berlin, Germany</span>
                <a class="contact__locations-modal--text" href="https://goo.gl/maps/5JnRTD1Htr5awVuFA" type="_blank">how
                    to find</a>
            </li>
            <li class="contact_locations-card">
                <h3 class="contact__locations-modal--sub-heading">Paris</h3>
                <h4 class="contact__locations-modal--sub-heading2">Galerie Vivienne</h4>
                <span class="contact__locations-modal--address">5 Rue de la Banque, 75002 Paris, France</span>
                <a class="contact__locations-modal--text" href="https://goo.gl/maps/GhdxaN1eFPjk9Q5ZA">how to find</a>
            </li>
        </ul>
    </div>
</div>


<!-- Contacts / Franchise Modal  -->

<!-- franchise-modal-open  -->


<div class="contact__franchise-modal--backdrop contact__franchise-modal--is-hidden" franchise-modal>
    <div class="modal-default-container">
        <button franchise-modal-close class="contact__locations-modal--close-btn">
            <svg class="contact__locations-modal--close-icon">
                <use href="./images/modal-icons.svg#products-close-button"></use>
            </svg>
        </button>
        <h2 class="contact__locations-modal--heading">Eager to work with us?</h2>
        <h3 class="contact__locations-modal--sub-heading">Obtain
            access to our
            business
            knowledge, and trademark, just be becoming a part of us just for:</h3>
        <ul class="contact__franchise-description">
            <li>initial
                start-up fee - USD 50.00</li>
            <li>annual licensing fee - USD 15.00</li>
        </ul>


        <form class="contact__franchise-form">
            <h3 class="contact__locations-modal--sub-heading">Let's get in touch:</h3>
            <ul class="contact__franchise-form-field-list">


                <li class="contact__franchise-form-field">
                    <label for="name">Name</label>
                    <div class="contact__franchise-field-container">
                        <svg class="contact__franchise-field-icon">
                            <use href="./images/modal-icons.svg#form-name"></use>
                        </svg>
                        <input type="text" name="name" id="contact__franchise-form-name" />
                    </div>
                </li>

                <li class="contact__franchise-form-field">
                    <label for="tel">Phone</label>
                    <div class="contact__franchise-field-container">
                        <svg class="contact__franchise-field-icon">
                            <use href="./images/modal-icons.svg#form-phone"></use>
                        </svg>
                        <input type="tel" name="tel" id="contact__franchise-form-tel" />
                    </div>
                </li>

                <li class="contact__franchise-form-field">
                    <label for="mail">Email</label>
                    <div class="contact__franchise-field-container">
                        <svg class="contact__franchise-field-icon">
                            <use href="./images/modal-icons.svg#form-email"></use>
                        </svg>
                        <input type="email" name="mail" id="contact__franchise-form-mail" />
                    </div>
                </li>
                <li class="contact__franchise-form-field">
                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment" cols="5" rows="2" class="contact__franchise-form-textarea"
                        placeholder="Leave your comment here"></textarea>
                </li>
            </ul>


            <!-- <button type="submit" class="button">Send</button> -->

            <button type="submit" class="contact__franchise-submit-button">
                Send
                <svg class="contacts__icon" width="8" height="10">
                    <use href="./images/icons.svg#icon-header-arrow-btn"></use>
                </svg>
            </button>

        </form>

    </div>
</div>