<section class="section products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list">
      <li class="card__wrapper card__wrapper--ice">
        <div class="products__meta">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <div class="products__overlay">
            <p class="products__text products__text--overflow-hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
              aliqua facilisis. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
              dolore magna aliqua facilisis.
            </p>
          </div>
        </div>

        <button
          js-overlay-start
          type="button"
          class="products__button button button--with-hover"
        >
          <svg class="icon button__arrow--products" width="18" height="12">
            <use href="./images/icons.svg#icon-arrow-products"></use>
          </svg>
        </button>
      </li>

      <li class="card__wrapper card__wrapper--coffee">
        <div class="products__meta">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <div class="products__overlay prescription">
            <!-- <p class="products__text products__text--overflow-hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
              aliqua facilisis. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
              dolore magna aliqua facilisis.
            </p> -->

            <h4 class="prescription-label">
              Nutritional value for 100g of product:
            </h4>
            <ul class="prescription-list">
              <li class="prescription__item">
                <p class="prescription__value">carbohydrates - 2.5g</p>
              </li>
              <li class="prescription__item">
                <p class="prescription__value">proteins - 0.5g,</p>
              </li>
              <li class="prescription__item">
                <p class="prescription__value">fats - 0.02g</p>
              </li>
            </ul>
          </div>
        </div>

        <button
          js-overlay-start
          type="button"
          class="products__button button button--with-hover"
        >
          <svg class="icon button__arrow--products" width="18" height="12">
            <use href="./images/icons.svg#icon-arrow-products"></use>
          </svg>
        </button>
      </li>

      <li class="card__wrapper card__wrapper--shakes">
        <div class="products__meta">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <div class="products__overlay">
            <p class="products__text products__text--overflow-hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
              aliqua facilisis. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
              dolore magna aliqua facilisis.
            </p>
          </div>
        </div>

        <button
          js-overlay-start
          type="button"
          class="products__button button button--with-hover"
        >
          <svg class="icon button__arrow--products" width="18" height="12">
            <use href="./images/icons.svg#icon-arrow-products"></use>
          </svg>
        </button>
      </li>
    </ul>
    <!-- 
    <ul class="products__list">
      <li class="card   ">

        <div class="card__wrapper card__wrapper--ice">

          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <button type="button" class="products__button button button--with-hover">
            <svg class="icon button__arrow--products" width="18" height="12">
              <use href="./images/icons.svg#icon-arrow-products"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="card">
        <div class="card__wrapper card__wrapper--coffee">

          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <button type="button" class="products__button button button--with-hover">
            <svg class="icon button__arrow--products" width="18" height="12">
              <use href="./images/icons.svg#icon-arrow-products"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="card">
        <div class="card__wrapper card__wrapper--shakes">

          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>

          <button type="button" class="products__button button button--with-hover">
            <svg class="icon button__arrow--products" width="18" height="12">
              <use href="./images/icons.svg#icon-arrow-products"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  
  --></div>
</section>
