<section class="section reviews">
  <div class="container">
    <h2 hidden>Reviews</h2>
    <article class="article">
      <h1 hidden>Customer Reviews</h1>

      <div class="swiper customerreviews">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-jul.jpg    1x,
                  ./images/customer-reviews/reviews/photo-jul-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-jul.jpg"
                alt="Juliia"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link link rotate-hor-center" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link link rotate-hor-center" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link link rotate-hor-center" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  I am very pleased that I had chosen GoIT.  During these two months, I have got a lot of
                  information and it seemed to me, I will not be able to use it
                  in practice. But the project work helped me to apply the
                  skills and to receive the support from our team.
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Juliia Kapuza, Bucha</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-max.jpg    1x,
                  ./images/customer-reviews/reviews/photo-max-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-max.jpg"
                alt="Juliia Kapuza"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link rotate-hor-center link" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link rotate-hor-center link" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link rotate-hor-center link" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  The next step in our IT journey was a team project. For me, it
                  was an invaluable experience that will help me become a
                  quality full-stack developer. Working in a team seemed to me a
                  very interesting task. I am proud of our team.
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Maxym Koralkov, Zhovty Vody</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-maks.jpg    1x,
                  ./images/customer-reviews/reviews/photo-maks-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-maks.jpg"
                alt="Maksym Pavlichenko"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  GoIT’s course is really good step for start in IT. Yes, it’s
                  not easy, but if you want progress, stop thinking and try.
                  Everyday learning and coding give you decided result. Thanks
                  this course for start career in IT. This stage will be
                  completed
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Maksym Pavlichenko, Kharkiv</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-lavr.jpg 1x,
                  ./images/customer-reviews/reviews/photo-lavr-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-lavr.jpg"
                alt="Oleh Lavrenko"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  It was a hard but enjoyable teamplay task. We have completed
                  it despite some difficulties. Anyway, I hope that the “the
                  first is always the hardest” principle works here as well.
                  Looking forward to the following challenges!
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Oleh Lavrenko, Kyiv</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-anton.jpg    1x,
                  ./images/customer-reviews/reviews/photo-anton-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-anton.jpg"
                alt="Anton Chertok"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  Team project gives the feelings like lots of new skills were
                  pressed into your brain during several days. Work in team
                  turned out an exciting and incredibly interesting process.
                  That was a very important and useful experience.
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Anton Chertok, Irpin</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-hamala.jpg    1x,
                  ./images/customer-reviews/reviews/photo-hamala-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-hamala.jpg"
                alt="Khamala Rozhkova"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link  rotate-hor-center link" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  Expirience of project work for me is powerful push in
                  professional development. Gratitude to every member for an
                  athmosphere of cooperation, understanding your role in a team,
                  focus on the result, mutual aid and competent management.
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Khamala Rozhkova, Kyiv</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="thumb">
              <img
                class="thumb__avatar"
                srcset="
                  ./images/customer-reviews/reviews/photo-oleg.jpg    1x,
                  ./images/customer-reviews/reviews/photo-oleg-2x.jpg 2x
                "
                src="./images/customer-reviews/reviews/photo-oleg.jpg"
                alt="Oleh Tulaidan"
                width="150"
                height="150"
              />
            </div>
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link rotate-hor-center link" href="" aria-label="github">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-footer-github"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link rotate-hor-center link" href="" aria-label="telegram">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link rotate-hor-center link" href="" aria-label="facebook">
                  <svg class="icon page-footer__icon" width="20" height="20">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <div class="swiper-slide__content">
              <div class="swiper-slide__thumb">
                <p class="swiper-slide__text">
                  The project from GoIT brought me one step closer to my dream,
                  gave me more self-confidence and practical teamwork skills. I
                  got acquainted with different people and had fun from solving
                  tasks. This is my first project in a team and I’ll remember it
                  forever.
                </p>
              </div>
            </div>

            <div class="swiper-slide__subtitle">
              <p>Oleh Tulaidan, Ivano-Frankivsk</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <!-- Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper('.customerreviews', {
          spaceBetween: 30,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        });
      </script>
    </article>
  </div>
</section>
