.products__label {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Titan One', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $secondary-title-color;
    
    @media screen and (min-width:$tablet) {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.15; 
    }
    @media screen and (min-width:$desktop) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
    }
}

.products__title {
    margin-bottom: 8px;

    text-align: center;
    font-family: 'Titan One', 'cursive';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;

    @media screen and (min-width:$tablet) {
        margin-bottom: 20px;
        font-size: 48px;
    }
    @media screen and (min-width:$desktop) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }
}

.products__subtitle {
    position: relative;

    margin-bottom: 70px;
    
    font-family: 'Titan One', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-inverse-text-color;

    @media screen and (min-width:$desktop) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__text {
    margin-bottom: 32px;

    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 1.79;
    letter-spacing: 0.04em;
    color: $primary-inverse-text-color;

    @media screen and (min-width:$desktop) {
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 1.75;
        }
}

            // Кнопка

.button__arrow--products {
    color: $accent-color;
}

.products__button {
    @extend %flex-center;

    margin-left: auto;
    margin-right: auto;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-background-color;
}

            // Псевдоэлемент точки

.products__subtitle::after {
    content: '\22EF';
    display: block;
    font-size: 40px;

    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%);
}


            // Список карточек 

.products__list {
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;     
    }

    @media screen and (min-width:$desktop) {
        gap: 32px;
    }
}

.card {
    padding-top: 140px;

    @media screen and (min-width:$tablet) {
        flex-basis: calc((100% - 32px) / 3);
        padding-top: 138px;
    }

    @media screen and (min-width:$desktop) {
        flex-basis: calc((100% - 64px) / 3);
        padding-top: 261px;
    }
}

.card__wrapper {
    position: relative;

    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    border-radius: 24px; 
    text-align: center;

    @media screen and (min-width:$tablet) {
        padding-top: 118px;    
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 40px;
    }

    @media screen and (min-width:$desktop) {
        padding-top: 165px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
    }
}

.card__wrapper--ice {
    background-color: #FFB8CA;
}

.card__wrapper--coffee {
    background-color: #F0D1A5;
}

.card__wrapper--shakes {
    background-color: #C2E297;
}
   

            // Псевдоэлементы изображения

.card__wrapper--ice::before {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);

    content: '';
    display: block;
    width: 280px;
    height: 280px;
    background-image: url(../images/products/mobile/prod-cream-mob-x1.png);
    background-size: 280px 280px;
    
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url(../images/products/mobile/prod-cream-mob-x2.png);
    }

    @media screen and (min-width:$tablet) {
        top: -138px;
        width: 224px;
        height: 224px;
        background-image: url(../images/products/tablet/prod-cream-tab-x1.png);
        background-size: 224px 224px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
        
                background-image: url(../images/products/tablet/prod-cream-tab-x2.png);
            }
    }

    @media screen and (min-width:$desktop) {
        top: -261px;
        width: 368px;
        height: 394px;
        background-image: url(../images/products/desktop/prod-cream-des-x1.png);
        background-size: 368px 394px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                
                background-image: url(../images/products/desktop/prod-cream-des-x2.png);
        }
    }
}
.card__wrapper--coffee::before {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);

    content: '';
    display: block;
    background-image: url(../images/products/mobile/prod-coffee-mob-x1.png);
    background-size: 280px 280px;
    width: 280px;
    height: 280px;

    @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
    
                background-image: url(../images/products/mobile/prod-coffee-mob-x2.png);
        }

    @media screen and (min-width:$tablet) {
        top: -138px;
        width: 224px;
        height: 224px;
        background-image: url(../images/products/tablet/prod-coffee-tab-x1.png);
        background-size: 224px 224px;
        
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            
                background-image: url(../images/products/tablet/prod-coffee-tab-x2.png);
            }
    }

    @media screen and (min-width:$desktop) {
        top: -261px;
        width: 368px;
        height: 394px;
        background-image: url(../images/products/desktop/prod-coffee-des-x1.png);
        background-size: 368px 394px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                
                background-image: url(../images/products/desktop/prod-coffee-des-x2.png);
        }
    }
}

.card__wrapper--shakes::before {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);

    content: '';
    display: block;
    background-image: url(../images/products/mobile/prod-shakes-mob-x1.png);
    background-size: 280px 280px;
    width: 280px;
    height: 280px;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url(../images/products/mobile/prod-shakes-mob-x2.png);
    }

    @media screen and (min-width:$tablet) {
        width: 224px;
        height: 224px;
        background-image: url(../images/products/tablet/prod-shakes-tab-x1.png);
        background-size: 224px 224px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
        
                background-image: url(../images/products/tablet/prod-shakes-tab-x2.png);
        }
    }

    @media screen and (min-width:$desktop) {
        top: -261px;
        width: 368px;
        height: 394px;
        background-image: url(../images/products/desktop/prod-shakes-des-x1.png);
        background-size: 368px 394px;
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                
                background-image: url(../images/products/desktop/prod-shakes-des-x2.png);
            }
    }
}