.products__label {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Titan One', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $secondary-title-color;
    
    @media screen and (min-width:$tablet) {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.15; 
    }
    @media screen and (min-width:$desktop) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
    }
}

.products__title {
    margin-bottom: 148px;

    text-align: center;
    font-family: 'Titan One', 'cursive';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;

    @media screen and (min-width:$tablet) {
        margin-bottom: 158px;
        font-size: 48px;
    }
    @media screen and (min-width:$desktop) {
        margin-bottom: 281px;

        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }
}

.products__subtitle {
    position: relative;

    margin-bottom: 70px;
    
    font-family: 'Titan One', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-inverse-text-color;

    @media screen and (min-width:$desktop) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__text {
    margin-bottom: 32px;

    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 1.79;
    letter-spacing: 0.04em;
    color: $primary-inverse-text-color;

    @media screen and (min-width:$desktop) {
            margin-bottom: 60px;
            font-size: 16px;
            line-height: 1.75;
        }
}

            // Кнопка

.button__arrow--products {
    color: $accent-color;
}

.products__button {
    @extend %flex-center;

    margin-left: auto;
    margin-right: auto;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-background-color;
}

            // Псевдоэлемент точки

.products__subtitle::after {
    content: '\22EF';
    display: block;
    font-size: 40px;

    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%);
}
