.header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;

    padding-top: 8px;

    z-index: 10;


    @media screen and (min-width: 768px) {
        padding-top: 32px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 37px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo-link {
    display: block;

    transition: transform 100ms;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }
}

.header__menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: #E17992;
    
    transform: translateX(200%);
    transition: transform 1000ms;

    @media screen and (min-width: 768px) {
        width: 41%;
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        position: relative;
        display: flex;
        background-color: transparent;
        align-items: center;
        transform: none;
        transform: translateX(0);
        transition: transform 1ms;
    }
}

.is-open {
    @media screen and (max-width: 1199px) {
        display: flex;
        transition: transform 1000ms;
        transform: translateX(0)
    }
}

.header__menu-wrapper{
    width: 100%;

    margin: 0 auto;  

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}


.header__menu-close-btn {
    border-radius: 0;
    margin-right: 15px;
    margin-top: 25px;
    margin-left: auto;
    display: flex;

    background-color: transparent;

    transition: transform 100ms;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header__menu-close-btn-icon {
    display: block;
    fill: #ffffff;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}


.header__nav-list {
    margin-top: 32px;
    margin-bottom: 0;
    list-style: none;

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        display: flex;
    }
}

.header__nav-item {
    @media screen and (max-width: 1199px) {
        border-top: 1px solid #E18298;
    }
}

.header__nav-item:last-child {
    @media screen and (max-width: 1199px) {
        border-bottom: 1px solid #E18298;
    }
}

.header__nav-item:not(:last-child) {

    @media screen and (min-width: 1200px) {
        margin-right: 35px;
    }
}


.header__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 0 12px 20px;

    transition: transform 100ms;

    &:hover,
    &:focus {
        transform: scale(1.02);
    }

    @media screen and (min-width: 1200px) {
        display: inline-block;
        border: 0;
        padding: 0;

        &:hover,
        &:focus {
        transform: scale(1.2);
        }        
    }
}


.header__buy-btn {
    display: inline-flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;

    height: 44px;
    width: 209px;

    background-color: #fff;

    @media screen and (min-width: 768px) {
        width: 186px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-right: 0;
        margin-left: 130px;
        width: 160px;
    }
}

.header__buy-text {
    font-size: 16px;
    font-weight: 700;
    color: $accent-color;
}

.header__buy-icon {
    fill: $accent-color;
    margin-left: 10px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.header__scroll {
    position: fixed;
    top: 0;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 184, 202, 0.8);

    z-index: 10;
    transition: all 200ms ease-out;
}

.header__scroll-current {
    color: $accent-color;
}

.header__menu-btn-open {
    border-radius: 0;
    text-align: center;

    margin-left: auto;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: transparent;

    transition: transform 100ms;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    @media screen and (min-width: 768px){
        margin-right: 32px;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }

}

.header__menu-btn-icon-open {
    fill: $accent-color;

    &:hover,
    &:focus {
        fill: #ffffff;
    }
}

.header__tb-btn {
    display: inline-flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    height: 44px;
    width: 186px;

    background-color: #fff;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.header__tb-text {
    font-size: 16px;
    font-weight: 700;
    color: $accent-color;
}

.header__tb-icon {
    fill: $accent-color;
    margin-left: 10px;
}