.link {

    transition: color $default-transition-time $default-transition-function;
    text-decoration: none;
    color: inherit;

    // &:visited {
    //     color: inherit;
    // }

    &:hover,
    &:focus,
    &:focus-visible {
        color: $accent-color;
    }
}